@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    /* text-shadow:
    0 0 7px rgb(255, 255, 255),
    0 0 151px rgb(255, 255, 255); */
    user-select: none;
    overflow:auto;
}

body {
    background-color: #1b1b1d;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    position: relative;
    transition: 0.5s all ease-in-out;
}

.sticky ul li{
    display: no;
}

.delete-btn{
    width: 60px;
    background-color: rgb(255, 0, 0);
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.update-btn{
    background-color: rgb(89, 0, 255);
    margin-inline:5px;
    text-decoration: none;
    padding: 2px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.no-margin{
    padding: 0;

}

.err {
    font-size: 0.8rem;
    /* color: red; */
    display: block;
    text-align: left;
    margin-left: 16px;
    text-shadow:
        0 0 11px rgb(255 10 10), 0 0 6px rgb(255 0 0), 0 0 19px #fff, 0 0 35px rgb(255 0 0), 0 0 40px rgb(255 0 0), 0 0 70px rgb(255 0 0), 0 0 145px rgb(255 0 0), 0 0 100px rgb(255 0 0);
    margin-top: -10px;
    margin-bottom: 20px;

}


.logo {
    background-color:white;
    width: 50px;
    border-radius: 50%;
    float: left;
    top: 0;
    margin: 5px;
    position: absolute;
    cursor: pointer;
    margin-inline: 20px;
    z-index: 999;
    left: 0;
}

.logobig {
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    position: absolute;
    cursor: pointer;
    margin-inline: 20px;
    z-index: 999;
    width: 80px;
    bottom: 50px;
    position: fixed;
    top: 5px;
    margin-left: auto;

}

.navbar ul {
    display: flex;
    justify-content: space-evenly;

}

.navbar ul li {
    list-style: none;
}

.link {
    text-decoration: none;
    color: white;
   
   

}

.overlay{
    transition:0.5s all ease-in;
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    overflow: hidden;
}

.input-box {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-size: 1rem;
    padding: 8px;
    width: 300px;
    background-color: rgb(57, 57, 57);
    border: 2px solid rgb(70, 27, 170);
}

.input-box:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.search-box{
    padding: 10px;
    font-size: 0.8rem;
    margin: 10px;
    width: 20rem;
    border: 2px solid rgb(70, 27, 170);
    color: rgb(255, 255, 255);
    background-color: rgb(57, 57, 57);
}

.profile{
    text-align: center;
    margin-top: 100px;
}

.product-list{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 95px;
    overflow: hidden;
    
}

.producthead{
    margin-bottom: 10px;
}

.product-list ul li{
    display: inline-block;
    border: 1px white solid;
    padding: 30px;
    width: 150px;
    margin: 4px;

}

.product-list ul{
    margin: 0px;
    overflow: hidden;
}


.signup-div {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    width: 150px;
    padding: 10px;
    background-color: hwb(245deg 17% 61%);;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.1s all ease-in-out;
}


.signup-btn:hover {
    color: #fff;
    text-shadow:
        0 0 7px rgb(10, 235, 255),
        0 0 10px rgb(24, 255, 255),
        0 0 21px #fff,
        0 0 42px rgb(44, 255, 255),
        0 0 82px rgb(44, 255, 255),
        0 0 92px rgb(44, 255, 255),
        0 0 102px rgb(44, 255, 255),
        0 0 151px rgb(44, 255, 255);
    background-color: black;
}

.product {
    margin-top: 100px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.hamburger{
    width: 50px;
    display: none;
}

.hide{
    transition: 0.3s all ease-in-out;
    display: none;
}

@media screen and (max-width: 1100px) {
    .product-list ul li{
        margin: 2px;
        padding: 30px;
        width: 100px;
    } 


    .login ul {
        display: flex;
    }

    .delete-btn{
        width: 49px;
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
    }

    .update-btn{
        width: 30px;
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
    }

    .no-margin{
        display: flex;
        padding: 0px;
        margin: 0;
    }

}

@media screen and (max-width: 840px){
    .search-box{
        margin-bottom: 20px;
    }

    .product-list ul li{
        margin: 1px;
        padding: 12px;
        width: 90px;
        font-size: 0.9rem;
    } 

    .delete-btn{
        width: 38px;
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
    }

    .update-btn{
        width: 25px;
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
    }
}



@media screen and (max-width:720px) {
   


    .overlay{
        width: 100vw;
        height: 100vh;
        z-index: 1001;
        display: flex;
        color: white;
        position: absolute;
        background: linear-gradient(to right, #000000, #16131e, #130b22);
        left: 100%;
        top: 0;
    }

    .center{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .center li{
        margin: 20px;
        padding: 25px;
        font-size: 1.5rem;
    }

    .link{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .link{
        display: flex;
    }
    .navbar{
        height: 3vh;
        z-index: 1000;
    }

    .hamburger{
        display: block;
        position: absolute;
        right: 20px;
        top: 4px;
    }

    .hide{
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: black;
        top: 0;
        position: fixed;
        float: right;
        text-align: center;
        width: 100vw;
        height: 100vh;
        transform: translateX(800px);

    }

    .hide ul{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
    }

    .hide ul li{
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.3rem;
        list-style: none;
        text-decoration: none;
        
    }

    .hide-div{
        width: 50vw;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        background-color: black;
    }

    .fakenav{
        width: 100vw;
        height: 10vh;
        background-color: #fff;
    }
}

@media screen and (max-width:430px) {
    .search-box{
        width: 50vw;
        height: 10px;
    }

    .producthead{
        font-size: 1.8rem;
    }

    .logo{
        width: 45px;
    }

    .hamburger{
        width: 45px;
        top: 6px;
    }

    .product-list ul {
        margin: 10px;
        
    }

    .product-list ul li{
        width: 80px;
        padding: 7px;
        
    }

    .signup-btn{
        width: 150px;
        padding: 9px;
        font-size: 0.9rem;
        margin-top: 20px;
    }

    .input-box{
        width: 86%;
        margin: auto;
        margin-top: 15px;
    }

    .update-product{
        font-size: 1.8rem;
    }

    .footer{
        height: 15px;
        font-size: 0.8rem;
    }

}